## Build results (anywhere in the repo)
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / VS Code
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

## NuGet
[Pp]ackages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## OS
.DS_Store
Thumbs.db
